/* UserRegister.css */

.login-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.right-section {
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.left-section {
  width: 60%;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sign-in-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button_delete {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #d10d09;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.Toastify__toast-container {
  z-index: 9999;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.Toastify__toast--success {
  background-color: #28a745;
}

.Toastify__toast--error {
  background-color: #dc3545;
}
